.led-bulb-img {
  width: 100%;
  height: 150px;
  background: url(../../../static/Images/ledBulb.jpg) center no-repeat;
}

.floor-light-img {
  width: 100%;
  height: 150px;
  background: url(../../../static/Images/floorbulb.jpg) center no-repeat;
}
